language: ruby
bundler_args: --without development --deployment
cache: bundler
services: mongodb
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.1.1
  - jruby-19mode
  - rbx
gemfile:
  - gemfiles/activesupport3.gemfile
  - gemfiles/activesupport4.gemfile
matrix:
  allow_failures:
    - rvm: rbx