language: ruby
services: mongodb
bundler_args: --without development
before_script:
  - sh -c "if [ '$DATABASE' = 'postgresql' ]; then psql -c 'create database groupify_test;' -U postgres; fi"
  - sh -c "if [ '$DATABASE' = 'mysql' ]; then mysql -e 'create database groupify_test;'; fi"
after_success:
  bundle exec codeclimate-test-reporter
env:
  - DATABASE=sqlite3
  - DATABASE=sqlite3mem
  - DATABASE=postgresql
  - DATABASE=mysql
rvm:
  - 2.2.6
  - 2.3.4
  - 2.4.1
  - jruby-9.1.5.0
  - rbx-2
gemfile:
  - gemfiles/rails_4.0.gemfile
  - gemfiles/rails_4.1.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
matrix:
  allow_failures:
    - rvm: 2.4.1
    - rvm: rbx-2
    - rvm: jruby-9.1.5.0
      gemfile: gemfiles/rails_5.0.gemfile
    - rvm: jruby-9.1.5.0
      gemfile: gemfiles/rails_5.1.gemfile

sudo: false
cache: bundler
addons:
  code_climate:
    repo_token: 9ba385a9a2a4ccd816cf6768fcde3e9cc163a76b67838e3572be70850ffb5dc9
